<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ asset('assets/css/semantic.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<div class="ui internally celled grid">
    <div class="row">
        <div class="three wide column">
        </div>
        <div class="ten wide column">
            <div class="ui borderless main menu">
                <div class="ui text container">
                    <a href="{{ path('homepage') }}"
                       class="header item">Home</a>
                    <a href="{{ path('documents') }}" class="item">Documents</a>
                    <a href="{{ path('users') }}" class="item">Users</a>
                </div>
            </div>
            <div class="ui success message">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="header">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
