{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        {{ form_start(form) }}
            <div class="ui  form">
                <div class="two fields">
                    <div class="field">
                        <label for="upload_users_submitFile" class="ui icon button">
                            <i class="file icon"></i>
                            Open File</label>
                        <div style="display: none">
                            {{ form_widget(form.submitFile) }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form_widget(form.save, { 'attr': {'class': 'ui icon button'} }) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    {% endblock %}
    {% if users is not empty %}
        <table class="ui striped table">
            <thead>
            <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.code }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('deletefiles', {'code': 'users'}) }}" class="negative ui button">Delete Users</a>
    {% endif %}
{% endblock %}
